*{
  margin: 0;
  padding: 0;
}


body {
    background-color: black;
    color: white;
    text-align: center;
  }


  .container{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }





